* {
    margin: 0;
    padding: 0
}
@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.woff) format("woff"),
         url(../fonts/OpenSans-Regular.woff2) format("woff"),
         url(../fonts/OpenSans-Regular.tff) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.woff) format("woff"),
         url(../fonts/OpenSans-Bold.woff2) format("woff"),
         url(../fonts/OpenSans-Bold.tff) format("truetype");
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: 400;
}

/*//////////////////////////////////////////////Header block/////////////////////////////////////////////////////*/
header {
    width: 100%;
    background: url(../img/header-background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -2;
}
header::before {
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8,11,47,0.8);
}
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2.34%;
}
.hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.gLogo {
    max-width: 100%;
    width: 210px;
    height: 70px;
    box-sizing: border-box;
    padding: 5px;
    stroke: #FFFFFF;
}
.gLogo-path {
    fill: #FFFFFF;
}
.header__text {
    text-transform: uppercase;
    color: white;
    font-size: 4.5em;
    font-family: "OpenSans";
    font-weight: 700;
    margin-top: 11%;
    display: flex;
    letter-spacing: 0.05em;
    flex-wrap: wrap;    
}
.header__text__1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1540px;
}
.header__text__2 {
    margin-left: 27.9%;
}
.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    padding-bottom: 6%;
}
.social-link {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;    
    background-color: #5E3DB3;
    width: 310px;
    height: 77px;
    max-width: 100%;
    border-radius: 60px;    
}
.social-link:nth-child(2) {
    margin-left: 2.7%;
}
.social-logo {
    max-width: 100%;
    width: 50px;
    height: 58px;
    box-sizing: border-box;
    margin-left: 13%;
    margin-top: 2%;
    margin-bottom: 2%;
    stroke: #FFFFFF;   
    fill: #FFFFFF;
}
.social-download {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
.social-store {
    font-weight: 700;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
}
.social-texts {
    display: flex;
    width: 170px;
    height: 77px;
    margin-left: 5%;
    max-width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
} 

/*//////////////////////////////////////////////Sport block/////////////////////////////////////////////////////*/
.athlets {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.players {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.players h2, .players .sport-text-1, .players .sport-text-2 {
    margin-left: 17%;
}
.athlets h2, .athlets .sport-text-1, .athlets .sport-text-2 {
    margin-right: 8%;
}
h2 {
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
    color: #E7E7E7;
    width: 37.5%;
    margin-top: 5%;
    margin-bottom: 4%;
}
h3 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    color: #C1C1C1;
}
.sport-text {
    font-size: 20px; 
    letter-spacing: 0.05em;
    display: flex;
    flex-wrap: wrap;
    width: 37.5%;
}
.sport-text-1 {
    margin-bottom: 4%;
}
.sport-text-2 {
    margin-bottom: 4%;
}
.sport-text-3 {
    width: 100%;
    height: 300px;
    background-color: #5E3DB3;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.players .sport-text-2 .sport-text-content, .players .sport-text-3 .sport-text-content {
    font-weight: 300;
}
.players .sport-text-3 {
    width: 100%;
    height: 270px;
    background-color: #090C35; 
}
.text-3-container {
    width: 37.5%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
.athlets .text-3-container {
    margin-right: 8%;
    right: 0;
}
.players .text-3-container {
    margin-left: 17%;
    left: 0;
}
.sport h3 {
    margin-left: 40px;
}
.players .text-3-container .number {
    color: #916FE9;
}
.sport-text-3 .number::after {
    background-color: #EFEFEF;
}
.sport-text-3 .sport-text-content {
    color: white;
}
.number {
    display: inline-block;
    position: absolute;
    text-decoration: none;
}
.number::after {
    display: block;
    position: absolute;
    content: "";
    height: 5px;
    width: 24px;
    border-radius: 10px;
    background-color: #5E3DB3;
    transition: width 0.3s ease-in-out;
    left: 0;
    bottom: 1;
}
.sport-text-content {
    margin-top: 20px;
}
.athlet {
    background: url("../img/footballer.png") no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    max-width: 100%;
    width: 33%;
    height: 100%;
    left: 0;
    margin-left: 15%;
}
.player {
    position: absolute;
    right: 0;
}
/*//////////////////////////////////////////////Content block/////////////////////////////////////////////////////*/
.content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.content-image {
    width: 50%;
    height: 38vw;
}
.content-text {
    box-sizing: border-box;
    width: 50%;
    font-size: 24px;
}
.content-text h2 {
    width: 100%;;
    margin-top: 18%;  
}


.content-image.be-active {
    background: url(../img/shutterstock.jpg) no-repeat;
    background-position: center;
    background-size: cover;  
}
.content-text.be-active {
    padding-left: 6.7%;   
}
.content-text.be-active p {
    width:  40%
}
.content-text.be-active h2 {
    margin-bottom: 8%; 
}


.content-image.find-contact {
    background: url(../img/coach.jpg) no-repeat;
    background-position: center;
    background-size: cover;  
}
.content-text.find-contact {
    padding-left: 4%;   
}
.content-text.find-contact p {
    width:  50%;
}
.content-text.find-contact h2 {
    margin-bottom: 8%; 
}


.content-image.work-it {
    background: url(../img/work-it.jpg) no-repeat;
    background-position: center;
    background-size: cover;  
}
.content-text.work-it {
    padding-left: 6.7%;   
}
.content-text.work-it p {
    width:  65%
}
.content-text.work-it h2 {
    margin-bottom: 12%; 
}

.content-number {
    position: absolute;
    color:white;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9%;
    height: 8%;
    background-color: #5E3DB3;
    margin: auto;
    left: 0;
    right: 0;
    top: 9%;
}

.content-number-ul {
    display: inline-block;
    position: relative;
}
.content-number-ul::after {
    display: block;
    position: absolute;
    content: "";
    height: 5px;
    width: 25px;
    border-radius: 10px;
    background-color: #8F79CA;
    transition: width 0.3s ease-in-out;
    left: 0;
    bottom: 1;
}

.n-2 {
    top: 40%;
}

.n-3 {
    top: 73%;    
}

/*//////////////////////////////////////////////Footer/////////////////////////////////////////////////////*/

footer {
    width: 100%;
    background: url(../img/footer-back.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -2;
}
footer::before {
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8,11,47,0.8);
}
.download-bottom-artwork {
    width: 150px;
    height: 150px;
    background-color: #6744C1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.f-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}

.f-button {
    width: 120px;
    height: 100px;
}

.download-bottom {
    display: flex;
    flex-wrap: wrap; 
    padding-top: 12%;
    max-width: 850px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.d-b-t-span {
    text-transform: uppercase;
    color: white;
    font-size: 80px;
    font-weight: bold;  
}

.d-b-t-min-span {
    text-transform: uppercase;
    font-size: 30px;
    color: #A495CC;
}

.download-bottom-text {
    margin-left: 1.8%;
    display: flex;
    flex-direction: column;
}

.f-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8%;
    padding-bottom: 13.2%;
}

.f-button-logo {
    stroke: #ffffff;
}





@media screen and (min-width: 641px) and (max-width: 960px) {
.logo {
    padding-top: 5%;
}
.header__text {
    font-size: 3.2em;
    margin-top: 10%;
}
.header__text__1 {
    margin-left: 12%;
    width: 100%;
}
.header__text__2 {
    margin-left: 23%;
    width: 100%;
}
.social {
    margin-top: 40%;
    padding-bottom: 11%;
}
.social-link {
    width: 300px;   
}
    
.players h2, .players .sport-text-1, .players .sport-text-2 {
    margin-left: 4.3%;
}
.athlets h2, .athlets .sport-text-1, .athlets .sport-text-2 {
    margin-right: 5.2%;
}
h2 {
    font-size: 70px;
    width: 55%;
    margin-top: 5%;
    margin-bottom: 5%;
}
h3 {
    font-size: 28px;
}
.sport-text {
    font-size: 16px; 
    width: 55%;
}
.sport-text-3 {
    width: 100%;
    height: 200px;  
}
.players .sport-text-3 {
    height: 200px;
}
.text-3-container {
    width: 55%;
}
.athlets .text-3-container {
    margin-right: 5.2%;
}
.players .text-3-container {
    margin-left: 4.3%;
}
.number::after {
    width: 20px;
}
.sport-text-content {
    margin-top: 10px;
}
.athlet {
    background-image: url("../img/footballer.png");
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
}
.player {
    position: absolute;
    right: 0;
}  
    
    
.content-image {
    width: 100%;
    height: 75.5vw;
}
.content-text {
    box-sizing: border-box;
    width: 100%;
    font-size: 24px;
}
.content-text h2 {
    width: 100%;
    margin-top: 11.7%;  
}


.content-text.be-active {
    padding-left: 4.4%;   
}
.content-text.be-active p {
    width:  86%;
    margin-bottom: 11.7%; 
}
.content-text.be-active h2 {
    margin-bottom: 4.5%; 
}


.content-image.find-contact {
    order: 1; 
}
.content-text.find-contact {
    order: 2; 
    padding-left: 4.2%;   
}
.content-text.find-contact p {
    width:  86%;
    margin-bottom: 13%;
}
.content-text.find-contact h2 {
    margin-bottom: 5%; 
}


.content-image.work-it {
    order: 3; 
}
.content-text.work-it {
    order: 4; 
    padding-left: 4.2%;   
}
.content-text.work-it p {
    width:  86%;
    margin-bottom: 14.3%;
}
.content-text.work-it h2 {
    margin-bottom: 4.5%; 
}
.download-bottom-artwork {
    margin-bottom: 10%;
}
.download-bottom {
    justify-content: center;
}
.d-b-t-span {
    font-size: 80px;
}
.d-b-t-min-span {
    font-size: 30px;
}
.download-bottom-text {
    margin-left: 0;
    align-items: center;
}
.f-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35%;
    padding-bottom: 7%;
}
    
.content-number {
    width: 15%;
    height: 15vw;
    left: 4%;
    right: auto;
    top: 18%;
}
.content-number-ul {
    display: inline-block;
    position: relative;
}
.content-number-ul::after {
    width: 26px;
}

.n-2 {
    top: 51%;
}

.n-3 {
    top: 84%;    
}
}






@media screen and (max-width: 640px) {
.logo {
    padding-top: 11%;
} 
.header__text {
    font-size: 1.4em;
    margin-top: 43%;
}
.header__text__1 {
    margin-left: 6.25%;

}
.header__text__2 {
    margin-top: 3%;
    margin-left: 20%;
}
.social {
    margin-top: 28%;
    padding-bottom: 25%;
}
.social-link {
    width: 87%;
    height: 11vw;
}
.social-link:nth-child(2) {
    margin-left: 0;
    margin-top: 4.5%;
}
.social-logo {
    width: 6.25%;
    height: 7.8vw;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 30%;
}
.social-download {
    font-size: 8px;
}
.social-store {
    font-size: 8px;
}
.social-texts {
    width: 100px;
    height: 100%;
    max-width: 100%;
    margin-left: 6%;
}
  
    
    
.content-image {
    width: 100%;
    height: 105vw;
}
.content-text {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding-left: 6.25%;
}
.content-text h2 {
    width: 100%;
    font-size: 28px;
    margin-top: 11.25%;  
}
.content-text.be-active p {
    width:  75%;
    margin-bottom: 23.5%; 
}
.content-text.be-active h2 {
    margin-bottom: 8.75%; 
}


.content-image.find-contact {
    order: 1; 
}
.content-text.find-contact {
    order: 2;  
}
.content-text.find-contact p {
    width:  93%;
    margin-bottom: 25%;
}
.content-text.find-contact h2 {
    margin-bottom: 7.8%; 
}


.content-image.work-it {
    order: 3; 
}
.content-text.work-it {
    order: 4; 
}
.content-text.work-it p {
    width:  90%;
    margin-bottom: 21.8%;
}
.content-text.work-it h2 {
    margin-bottom: 7.5%; 
}
    
.download-bottom-artwork {
    width:  100px;
    height: 100px;
    margin-bottom: 18%;
}
.f-button {
    width: 70px;
    height: 70px;
}
.download-bottom {
    justify-content: center;
        padding-top: 25%;
}
.d-b-t-span {
    font-size: 32px;
}
.d-b-t-min-span {
    font-size: 14px;
}
.download-bottom-text {
    margin-left: 0;
    align-items: center;
}
.f-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 23.5%;
    padding-bottom: 25%;
}
.f-gLogo {
    width: 135px;
    height: 45px;
} 
    
.content-number {
    width: 18%;
    font-size: 14px;
    height: 18vw;
    left: 6%;
    right: auto;
    top: 18%;
}
.content-number-ul::after {
    width: 16px;
}
}
.n-2 {
    top: 51%;
}

.n-3 {
    top: 84%;    
}
}


@media screen and (min-width: 1081px) and (max-width: 1440px) {
.content-text {
    font-size: 18px;
}
.content-text h2 {
    font-size: 60px; 
}

}

@media screen and (min-width: 960px) and (max-width: 1080px) {
.content-text {
    font-size: 16px;
}
.content-text h2 {
    font-size: 50px; 
}    
}
@media screen and (min-width: 404px) and (max-width: 640px) {
.content-number {
    top: 19%;
}
.n-2 {
    top: 52.5%;
}

.n-3 {
    top: 86%;    
}    
}
@media screen and (min-width: 250px) and (max-width: 304px) {
.content-number {
    top: 17%;
}
.n-2 {
    top: 50%;
}

.n-3 {
    top: 82%;    
}       
}
@media screen and (max-width: 249px) {
.content-number {
    top: 15%;
}
.n-2 {
    top: 48%;
}

.n-3 {
    top: 80%;    
}     
}