* {
    margin: 0;
    padding: 0
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.woff) format("woff"),
         url(../fonts/OpenSans-Regular.woff2) format("woff"),
         url(../fonts/OpenSans-Regular.tff) format("truetype");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.woff) format("woff"),
         url(../fonts/OpenSans-Bold.woff2) format("woff"),
         url(../fonts/OpenSans-Bold.tff) format("truetype");
}
body {
    font-family: "OpenSans-Regular";
    font-size: 20px;
}
header {
    width: 100%;
    height: 960px;
    background: url(../img/header-background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -2;
}
header::before {
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(8,11,47,0.8);
}
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2.34%;
}
.gLogo {
    max-width: 100%;
    width: 210px;
    height: 70px;
    box-sizing: border-box;
    padding: 5px;
}
.header__text {
    text-transform: uppercase;
    color: white;
    font-size: 4.5em;
    font-family: "OpenSans-Bold";
    margin-top: 11%;
    display: flex;
    letter-spacing: 0.05em;
    flex-wrap: wrap;    
}
.header__text__1 {
    margin-left: 10%;
    width: 100%;
}
.header__text__2 {
    margin-left: 27.9%;
}


@media screen and (min-width: 641px) and (max-width: 960px) {
.logo {
    padding-top: 5%;
}
.header__text {
    font-size: 3.2em;
    margin-top: 20%;
}
.header__text__1 {
    margin-left: 12%;
    width: 100%;
}
.header__text__2 {
    margin-left: 23%;
    width: 100%;
}
}


@media screen and (max-width: 640px) {
.logo {
    padding-top: 11%;
} 
.header__text {
    font-size: 1.4em;
    margin-top: 50%;
}
.header__text__1 {
    margin-left: 6.25%;

}
.header__text__2 {
    margin-top: 3%;
    margin-left: 20%;
}
}