* {
    margin: 0;
    padding: 0
}
@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.woff) format("woff"),
         url(../fonts/OpenSans-Regular.woff2) format("woff"),
         url(../fonts/OpenSans-Regular.tff) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.woff) format("woff"),
         url(../fonts/OpenSans-Bold.woff2) format("woff"),
         url(../fonts/OpenSans-Bold.tff) format("truetype");
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: 400;
}
header {
    width: 100%;
    background: url(../img/header-background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -2;
}
header::before {
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8,11,47,0.8);
}
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2.34%;
}
.hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.gLogo {
    max-width: 100%;
    width: 210px;
    height: 70px;
    box-sizing: border-box;
    padding: 5px;
    stroke: #FFFFFF;
}
.gLogo-path {
    fill: #FFFFFF;
}
.header__text {
    text-transform: uppercase;
    color: white;
    font-size: 4.5em;
    font-family: "OpenSans";
    font-weight: 700;
    margin-top: 11%;
    display: flex;
    letter-spacing: 0.05em;
    flex-wrap: wrap;    
}
.header__text__1 {
    margin-left: 10%;
    width: 100%;
}
.header__text__2 {
    margin-left: 27.9%;
}
.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    padding-bottom: 6%;
}
.social-link {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;    
    background-color: #5E3DB3;
    width: 310px;
    height: 77px;
    max-width: 100%;
    border-radius: 60px;    
}
.social-link:nth-child(2) {
    margin-left: 2.7%;
}
.social-logo {
    max-width: 100%;
    width: 50px;
    height: 58px;
    box-sizing: border-box;
    margin-left: 13%;
    margin-top: 2%;
    margin-bottom: 2%;
    stroke: #FFFFFF;   
    fill: #FFFFFF;
}
.social-download {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
.social-store {
    font-weight: 700;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
}
.social-texts {
    display: flex;
    width: 170px;
    height: 77px;
    margin-left: 5%;
    max-width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}
.athlets {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.players {
    height: 959px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h2 {
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
    color: #E7E7E7;
    width: 37.5%;
    margin-top: 5%;
    margin-bottom: 4%;
}
h3 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    color: #C1C1C1;
}
.sport-text {
    font-size: 20px; 
    letter-spacing: 0.05em;
    display: flex;
    flex-wrap: wrap;
    width: 37.5%;
}
.athlets .sport-text-1 {
    margin-bottom: 4%;
}
.athlets .sport-text-2 {
    margin-bottom: 4%;
}
.sport-text-3 {
    width: 100%;
    height: 300px;
    background-color: #5E3DB3;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.text-3-container {
    width: 37.5%;
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
}
.sport-text-3 .number::after {
    background-color: #EFEFEF;
}
.sport-text-3 .sport-text-content {
    color: white;
}
.number {
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin-right: 14px;
}
.number::after {
    display: block;
    position: absolute;
    content: "";
    height: 5px;
    width: 24px;
    border-radius: 10px;
    background-color: #5E3DB3;
    transition: width 0.3s ease-in-out;
    left: 0;
    bottom: 1;
}
.sport-text-content {
    margin-top: 20px;
}
.athlet {
    position: absolute;
    left: 0;
    top: ;
}




















@media screen and (min-width: 641px) and (max-width: 960px) {
.logo {
    padding-top: 5%;
}
.header__text {
    font-size: 3.2em;
    margin-top: 10%;
}
.header__text__1 {
    margin-left: 12%;
    width: 100%;
}
.header__text__2 {
    margin-left: 23%;
    width: 100%;
}
.social {
    margin-top: 40%;
    padding-bottom: 11%;
}
.social-link {
    width: 300px;   
}
}


@media screen and (max-width: 640px) {
.logo {
    padding-top: 11%;
} 
.header__text {
    font-size: 1.4em;
    margin-top: 43%;
}
.header__text__1 {
    margin-left: 6.25%;

}
.header__text__2 {
    margin-top: 3%;
    margin-left: 20%;
}
.social {
    margin-top: 28%;
    padding-bottom: 25%;
}
.social-link {
    width: 87%;
    height: 11vw;
}
.social-link:nth-child(2) {
    margin-left: 0;
    margin-top: 4.5%;
}
.social-logo {
    width: 6.25%;
    height: 7.8vw;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 30%;
}
.social-download {
    font-size: 8px;
}
.social-store {
    font-size: 8px;
}
.social-texts {
    width: 100px;
    height: 100%;
    max-width: 100%;
    margin-left: 6%;
}
}



